.App {
  text-align: center;
 
}
.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  
}
header{
  padding: 15px;
  background-color: black;
  color: aliceblue;
}
.product{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.tyga{
 padding: 10px 0;
  margin: 20px;
 
  box-shadow: -1px -1px 6px 0 rgba(0, 0, 0, 0.75);
  width: 250px;
  height: 320px;
}
.product img{
  width: 150px;
}
.head button{
  padding: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.remove{
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  outline: none;
}
.add{
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  outline: none;
}
